<app-navbar *ngIf="router.url!='/home'"></app-navbar>
<mat-sidenav-container >
    <!-- <router-outlet></router-outlet> -->

    <mat-sidenav #drawer mode="over" position="end">
        <!-- <h3>Project Portal</h3> -->
        <ul class="list-group list-group-flush">
            <div *ngFor="let item of navList">
                <a [routerLink]="item.link"
                    class="list-group-item list-group-item-action" (click)="this.navService.toggleSidenav()">
                    <img [src]="item.src" [alt]="item.alt" width="32px" height="32px">
                    {{item.name}}
                </a>
            </div>
            <a class="list-group-item list-group-item-action"
                (click)="this.navService.toggleSidenav(); this.uService.logout()">
                <img [src]="logoutItem.src" [alt]="logoutItem.alt" width="32px" height="32px">
                {{logoutItem.name}}
            </a>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <footer *ngIf="router.url=='/home'" class="bg-black fixed-bottom text-center">
            Developed by <a href="https://github.com/Adityaupadhye" target="_blank" rel="noopener noreferrer">Aditya Upadhye</a>, B.Tech Electrical, COEP.
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>